<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitch Stars</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Danfo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/navstyle.css">
    <link rel="stylesheet" href="/stylesheets/feedstyle.css">
    <link rel="stylesheet" href="/stylesheets/serbarstyle.css">
</head>
<body>
    <%- include("nav") %>
    <%- include("serbar") %>
    <div class="feed">
        <% pictures.forEach(pics => {%>
            <div class="inpic">
                <img src="<%= pics.filename %>" alt="Uploaded pics" loading="lazy">
            </div>
        <% }) %>
    </div>
    <div id="loadingSpinner" style="display:block;"></div> <!-- Initially visible -->
    <script>
        // Show the loading spinner when the upload starts
        function showLoadingSpinner() {
          document.getElementById('loadingSpinner').style.display = 'block';
        }
      
        // Hide the loading spinner once the upload or feed loading is complete
        function hideLoadingSpinner() {
          document.getElementById('loadingSpinner').style.display = 'none';
        }


        // Function to hide spinner when images are fully loaded
  const images = document.querySelectorAll('img');
  let imagesLoaded = 0;

  images.forEach(img => {
    img.onload = () => {
      imagesLoaded++;
      if (imagesLoaded === images.length) {
        document.getElementById('loadingSpinner').style.display = 'none';
      }
    };
  });
      </script>
      <script src="/javascripts/navjs.js"></script>
</body>
</html>