<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Danfo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/navstyle.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap" rel="stylesheet"><link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
  <title>Twitch Stars</title>
</head>
<body>
  <%- include("nav") %>
<div class="main">
    <img src="/images/TWITCH STARS (2).png" alt="twitch stars pic">
</div>
<div class="desc1">

<h1>Centralized Photo Library</h1>
<h1>Exclusively for RKGIT</h1>
</div>
<div class="desc2">
  <h1>Your memories</h1>
  <h1>Our platform</h1>
</div>
<div class="desc3">
  <h1>Order in your Photos</h1>
  <h1>By our tags</h1>
</div>
<div class="desc4">
  <h1>Upload pics</h1>
  <h1>Or just Stroll around</h1>
</div>
<div class="log">
  <div class="signin">
    <h1>I want to experience this</h1>
    <h1>Sign me Up</h1>
    <button onclick="location.href='/register'" id="signup">Sign-Up</button>
  </div>
  <div class="signup">
    <h1>I'm the experienced one</h1>
    <h1>Log me in</h1>
    <button onclick="location.href='/login'" id="signin">Sign-In</button>
  </div>
  </div>
</body>
</html>