<div class="navbar">
        <ul class="navul">
            <li class="logo lef"><a href="/">TWITCH STARS</a></li>
            <li class="profile rig"><a href="/logout">LOG OUT</a></li>
            <li class="stroll rig"><a href="/feed">STROLL</a></li>
            <li class="home rig"><a href="/upload">UPLOAD</a></li>
        </ul>
</div>