<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Danfo&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/navstyle.css">
  <link rel="stylesheet" href="/stylesheets/uploadedstyle.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Twitch Stars</title>
</head>
<body>
    <%- include("nav") %>
    <div class="container">
        <h1 class="uploaded">
            Hi <%= name%>!
        </h1>
        <h1 class="uploaded">
            Verification link sent successfully to <%= email%>
        </h1>
        <h1 class="uploaded">
            The link will expire in 1 Hour
        </h1>
    </div>
</body>
</html>