.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    height: 35vw;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-optical-sizing: auto;
}
.container2{
    margin-top: 2vw;
}
.reglink{
    margin-right: 1vw;
}
.siginlink{
    margin-left: 1vw;
}
.container a{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-style: solid;
    text-decoration: none;
    font-size: 1.5vw;
    border-radius: 5vw;
    color: black;
    border-color: black;
}
.container a:hover{
    color: white;
    background-color: black;
    transition: ease-in-out 0.3s;
}