body{
    margin: 0;
}
.navul{
    list-style: none;
    display: block;
    padding: 1vw;
    background-color: black;
    margin: 0;
}
.navul li{
    display: inline-block;
    margin-right: 1vw;
}
.navul a{
    font-family: "Danfo", serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    font-style:normal;
    font-variation-settings:
    "ELSH" 0;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 1vw;
    border-radius: 0.5vw;
}
.rig{
    float: right;
}
.rig a{
    font-size: 1.8vw;
    transition: ease-in 0.2s;
}
.rig a:hover{
    background-color: white;
    color: black;
    transition: ease-in 0.2s;
    padding: 1vw;
}
.lef{
    font-size: 2vw;
}
.lines{
    display: none;
    width: 12vw;
    height: 12vw;
    background-color: white;
    border-radius: 50%;
    padding: 2.7vw;
    box-sizing: content-box;
}

@media only screen and (max-width: 600px){
    .lines{
      display: block;
      width: 5vw;
      height: 5vw;
      float: left;
    }
    .navul{
      text-align: center;
      display: block;
    }
    .navul li:not(.logo) {
      display: none;
  }
  .logo {
    font-size: 8vw;
    margin: auto;
    display: inline-block;
    text-align: center;
}
.navul li {
  display: inline-block;
  margin: 0 1vh;
}

}