.sear{
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1.5vw;
}
.sear input[type=text]{
    padding-top: 0.4vw;
    padding-left: 0.5vw;
    font-size: 1.2vw;
    font-weight: 550;
    padding-bottom: 0.4vw;
    margin-right: 1vw;
    width: 70%;
    border-radius: 5vw;
    border-style: solid;
    border-color: black;
    border-width: 0.15vw;
}
.sear input[type=submit],
.sear button{
    padding-top: 0.6vw;
    padding-bottom: 0.6vw;
    box-sizing: border-box;
    width: 20%;
    font-size: 1.2vw;
    border-style: solid;
    border-radius: 5vw;
    border-color: black;
    border-width: 0.15vw;
    background-color: rgb(208, 206, 206);
    color: black;
}
.sear input[type=submit]:hover,
.sear button:hover {
    background-color: black;
    color: white;
    transition: ease-in 0.2s;
    cursor: pointer;
}