.serfeed {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}
.serfeed img {
    width: 100%;
    height: 200vw;
    object-fit: cover;
    border: 2vw solid #ddd;
    border-radius: 8vw;
}