body {
  font: 2vw "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main{
  margin: 0;
}
.main img{
  width: 100%;
}
.desc1, .desc2, .desc3, .desc4{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vw;
  width: 100%;
}
h1{
  text-align: center;
  font-size: 5vw;
}
.desc2, .desc4{
  background-color: black;
  color: white;
}
.log{
  height: 50vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log button{
  font-size: 2.5vw;
  margin: 2vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 0.6vw;
  padding-bottom: 0.6vw;
  border-style: solid;
  border-radius: 5vw;
  background-color: white;
}
.log button:hover{
  background-color: black;
  color: white;
  transition: ease 0.2s;
  cursor: pointer;
}
.signup, .signin{
  flex-basis: 40%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.signin h1, .signup h1{
  font-size: 3vw;
}