.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    flex-direction: column;
    height: 70vh;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.container a{
    
    padding-left: 3vh;
    padding-right: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-style: solid;
    text-decoration: none;
    font-size: 3vh;
    border-radius: 5px;
    color: black;
    border-color: black;
}
.container a:hover{
    color: white;
    background-color: black;
    transition: ease-in-out 0.3s;
}